# Server
PORT=
NODE_ENV=

# Pthis too here i add one single url 
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Redis i thas few more 
REDIS_HOST=
REDIS_PORT=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# i change this later 
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=